body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.link {
  text-decoration: none;
  color: #482d30;
}


:root {
  --radius: 2px;
  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
}


select {
  /* CSS style here */
  height: 4rem;
  border: solid rgb(43, 42, 42) 0.2px;
  width: 12rem;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: #f94f90;
}

/* Edit option */
option {
  /* CSS style here */
  font-size: 2rem;
  background-color: white;
}

/* Edit selected option */
/* element  attr    attr value */
/* option[selected="selected"] {
  /* CSS style here */
  /* font-size: 3rem;
} */ 

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  align-items: center;
}

.nav-link {
  font-size: 1.5rem;
  color: white;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar .container-fluid {
  background-color: #f94f90;
  height: 6rem;
}