body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.link {
  text-decoration: none;
  color: #6e6062;
}

.link:hover {
  text-decoration: none;
  color: #4d3e40;
}

:root {
  --radius: 2px;
  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
}


select {
  /* CSS style here */
  height: 4rem;
  border: solid rgb(43, 42, 42) 0.2px;
  width: 12rem;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: #f94f90;
}

option {
  font-size: 2rem;
  background-color: white;
}


.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  align-items: center;
  padding-left: 6rem;
}

.container-fluid .navbar-nav .nav-link.active {
  font-size: 1.5rem;
  color: white;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar .container-fluid {
  background-color: #f94f90;
  height: 6rem;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}